.header {
    &__top,
    &__bottom {
        border-bottom: 1px solid color('gray-light');
    }

    &__top {
        padding: 50px 0;
    }

    &__bottom {
        padding: 20px 0 5px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btns {
        display: flex;
        justify-content: flex-end;

        .icon-btn {
            margin-right: 40px;
            @include media-breakpoint-down(xs){
                margin-right:20px;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                .icon-favourites {
                    animation-name: heart;
                    animation-duration: .7s;
                    // animation-timing-function: ease-out;
                    // animation-iteration-count: 2;
                }                
            }
        }
    }
}