.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
    border-bottom: 1px solid color('grey-light');

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btns {
        display: flex;

        .icon-btn {
            margin-right: 40px;

            &:last-child{
                margin-right: 0;
            }
        }
    }
    .container{
        display: block;
    }
}