.icon {
    display: inline-block;
  }
  
.icon-Combined_Shape {
    width: 198px;
    height: 40px;
}
.icon-arrow {
    width: 14px;
    height: 8px;
}
.icon-arrow-small_copy {
    width: 14px;
    height: 8px;
}
.icon-cart {
    width: 22px;
    height: 22px;
}
.icon-check {
    width: 10px;
    height: 8px;
}
.icon-close {
    width: 20px;
    height: 20px;
}
.icon-favourites {
    width: 18px;
    height: 17px;
}
.icon-logo {
    width: 198px;
    height: 40px;
}
.icon-search {
    width: 21px;
    height: 21px;
}
