include ../footer-menu/footer-menu

mixin footer()
    footer.footer 
        .container
            .row
                .col-md-13.col-xxs-24.order-xxs-2.order-md-1
                    .footer__nav
                        -
                            var footerNav = [
                                'Каталог',
                                'Оплата',
                                'Доставка',
                                'Возврат',
                                'Сборка',
                                'Помощь',
                                'Обратная связь'
                            ]
                        +footer-menu(footerNav)
                    .footer__copyright &copy; 2019, Интернет-магазин мебели
                .col-lg-5.offset-lg-6.col-md-8.offset-md-3.col-xxs-24.order-xxs-1.order-md-2
                    .footer__phone
                        .footer__phone-text По любым вопросам обращайтесь:
                        a.footer__phone-link(href='tel:+74992421254' title='+7 499 242-12-54') +7 499 242-12-54