.footer {
    padding: 40px 0;
    @include media-breakpoint-down(xs){
        padding: 30px 0;
    }

    background-color: color('gray-lighter');

    &__nav {
        margin-bottom: 15px;
    }

    &__copyright {
        font-size: 12px;
        line-height: 22px;
        color: color("gray");
    }

    &__phone {
        text-align: right;
        margin-bottom:30px;
        @include media-breakpoint-down(xs){
            text-align:left;
        }
    }

    &__phone-text {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 22px;
    }

    &__phone-link {
        font-size: 20px;
        line-height: 22px;
        color: color("gray-darkest");
        text-decoration: none;
    }
}