mixin color-checkbox(name, color)
    label.color-checkbox(style={ 'background-color': color })
        input.color-checkbox__input(type='checkbox' name=name)
        span.color-checkbox__icon
            +icon('check')