.filter-color{
    display:block;
    &__trigger{
        display: flex;
        justify-content: space-between;
        margin-bottom:20px;
        align-items:center;
        

        &__name{
            font-weight: bold;
            line-height: 1.5;
        
        }
        &__btn{
            .icon-btn{
                &_only-icon {
                    .icon-btn {
                        &__icon {
                            transform: rotate(180deg);
                            > .icon {
                            fill: black;
                            }
                        }
                    
                    }
                }
                &:hover {
                    .icon-btn__icon {
                        > .icon {
                            fill: color("blue");
                        }
                    }
                }
            }
            }
        

    }

    &__list{
        display: block;

    }
    &__item{
        display: inline-block;
        margin:5px;

        span{
            width: 38px;
            height: 38px;
            display: block;
            border-radius: 50%;
            cursor: pointer;
            background-size: contain !important;
            
        }
    }
}