mixin filter-color(arr)
    .filter-color
        .filter__trigger
            span.filter__trigger__name='Цвет'
            .filter__trigger__btn
                +icon-btn('arrow')
        ul.filter-color__list
            each item in arr
                if item.color==='ffffff'
                    li.filter-color__item
                        span(style = 'background:#' + item.color+';border: solid 1px #9b9b9b;')
                else
                    li.filter-color__item
                            span(style = 'background:#' + item.color+';')
                    
