.icon-btn {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &_only-icon {
        .icon-btn {
            &__icon {
                margin-right: 0;
            }
        }
    }

    &__icon {
        margin-right: 8px;

        > .icon {
            display: block;
        }
    }

    &__count {
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        background-color: color('gray-lighter');
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
    }
}