//- Используем стандартный шаблон
extends ../layouts/default/default

include ../components/breadcrumbs/breadcrumbs
include ../components/page-title/page-title
include ../components/card-list/card-list
include ../components/filter-list/filter-list

//- Выводим контент
block content
    .container
        .mt-md-12.mb-md-3
            -
                var breadcrumbs = [
                    {url: '#', title: 'Главная', value: 'Главная'},
                    {url: '#', title: 'Каталог', value: 'Каталог'},
                    {url: '#', title: 'Мягкая мебель', value: 'Мягкая мебель'},
                    {value: 'Диваны'}
                ]
            +breadcrumbs(breadcrumbs)
        +page-title('Диваны')
        .mt-md-12.mb-md-20
            .row
                .col-lg-5.pt-lg-4.col-md-8
                    -
                        var filters = [
                            {
                                title: 'Цвет',
                                type: 'color',
                                items: [
                                    { name: 'filter-color', color: '#ffffff' },
                                    { name: 'filter-color', color: '#000000' },
                                    { name: 'filter-color', color: '#5a5a5a' },
                                    { name: 'filter-color', color: '#704d35' },
                                    { name: 'filter-color', color: '#e0791d' },
                                    { name: 'filter-color', color: '#ba0606' },
                                    { name: 'filter-color', color: '#38a01a' },
                                    { name: 'filter-color', color: '#314976' },
                                    { name: 'filter-color', color: '#3748a6' }
                                ]
                            },
                            {
                                title: 'Материал',
                                items: [
                                    { name: 'filter-fabric', label: 'Вельвет' },
                                    { name: 'filter-fabric', label: 'Микровелюр' },
                                    { name: 'filter-fabric', label: 'Велюр' },
                                    { name: 'filter-fabric', label: 'Жаккард' },
                                    { name: 'filter-fabric', label: 'Замша' },
                                    { name: 'filter-fabric', label: 'Рогожка' }
                                ]
                            },
                            {
                                title: 'Угол',
                                items: [
                                    { name: 'filter-angle', label: 'Левый' },
                                    { name: 'filter-angle', label: 'Правый' },
                                    { name: 'filter-angle', label: 'Универсальный' }
                                ]
                            }
                        ]
                    +filter-list(filters)
                .col-lg-18.offset-lg-1.col-md-16
                    -
                        var cards = [
                            {
                                href: '#',
                                name: 'Montreal',
                                imgUrl: 'assets/images/item-01.jpg',
                                price: '10&nbsp;990',
                                btns: ['favourites', 'cart']
                            },
                            {
                                href: '#',
                                name: 'Glasgow',
                                imgUrl: 'assets/images/item-02.jpg',
                                price: '19&nbsp;990',
                                btns: ['favourites', 'cart']
                            },
                            {
                                href: '#',
                                name: 'Munich',
                                imgUrl: 'assets/images/item-03.jpg',
                                price: '24&nbsp;990',
                                btns: ['favourites', 'cart']
                            },
                            {
                                href: '#',
                                name: 'Alexandria',
                                imgUrl: 'assets/images/item-04.jpg',
                                price: '109&nbsp;990',
                                btns: ['favourites', 'cart']
                            },
                            {
                                href: '#',
                                name: 'Karachi',
                                imgUrl: 'assets/images/item-05.jpg',
                                price: '17&nbsp;990',
                                btns: ['favourites', 'cart']
                            },
                            {
                                href: '#',
                                name: 'Phoenix',
                                imgUrl: 'assets/images/item-06.jpg',
                                price: '29&nbsp;990',
                                btns: ['favourites', 'cart']
                            }
                        ]
                    +card-list(cards)                   