mixin nav()
    
    nav
        
            ul(class="main-menu")
                li
                    a(href="") Мебель
                    ul(class='sub-menu')
                            li
                                a(href='') Мягкая Мебель
                            li
                                a(href='') Столы
                            li
                                a(href='') Стулья
                            li
                                a(href='') Стеллажи
                            li
                                a(href='') Шкафы-купе                                       

                li
                    a(href="") Хранение
                li
                    a(href="") Спальня
                li
                    a(href="") Кухня
                li
                    a(href="") Аксессуары
                li
                    a(href="") Акции
