include ../input-text/input-text
include ../icon-btn/icon-btn

mixin search()
    .search 
        form(action='' class='search')
            .search__input-text
                +input-text()(name='search-input' value='' placeholder='Поиск')
            .search__icon-btn
                +icon-btn('search')